.size-menu {
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    max-width: 240px;
    min-width: 180px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 1px solid #333333;
  }

  .size-menu span {
    align-self: center;
    margin: 0 10px;
    background-color: white;
  }

  /* Контейнер для размещения выпадающего содержимого */
  .mb-info-size {
    margin-top: 30px;
    height: 44px;
    position: relative;
    display: flex;
  }
  
  /* Выпадающий список */
  .size-dropdown {
    font-size: 14px;
    line-height: 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .size-dropdown a {
    color:#333333;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .size-dropdown a:hover {
      background-color: #c4c4c4
    }

  .show {
      display: flex;
  }
