/* Общий стиль элементов */
body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.04em;
}

img {
  width: 100%;
  margin: 0;
}

a {
  color: #333333;
}

.fs-standart {
  font-size: 14px;
  line-height: 20px;
}

.pointer {
  cursor: pointer;
}

/* Верхнее меню */
.top-bar {
  display: flex;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

  .top-bar-nav {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  .top-bar-nav span:first-child {
    margin: 0 auto 0 0;
    font-size: 22px;
    line-height: 16px;
    font-weight: 700;
  }

  .top-bar-nav span a {
    text-decoration: none;
  }

  .top-bar-nav-img {
    width: 20px;
    vertical-align: middle;
  }

  .top-bar-nav span:last-child {
    display: none;
  }

@media screen and (max-width: 1390px) {
  .top-bar-nav {
    margin: auto 20px;
  }
}

/* Гамбургер меню */
.hamburger-menu {
    display: none;
}

/* Основная секция */
.mainblock {
  max-width: 1390px;
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
}

/* Блок с изображениями */
  .mb-container-img {
    position: relative;
  }
  
  .mb-container-mini {
    position: absolute;
    top: 3%;
    left: 4%;
    max-width: 70px;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .mini {
    opacity: 0.3; 
  }

  .mini:hover {
    opacity: 0.5;
  }

/* Блок с информацией о товаре*/
.mb-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

  .mb-info-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }

  .mb-info-sku {
    font-size: 12px;
    line-height: 16px;
    color: #828282;
  }

/* Блок с отзывами */
.mb-info-feedback {
  display: flex;
  margin: 20px 0 0 0;
}

  .mb-info-feedback span:first-child,
  .mb-info-feedback span:nth-child(6),
  .mb-info-feedback span:nth-child(7) {
    margin: 0px 10px 0 0;
  }
  
/* Блок с ценами */
.mb-info-price {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

  .price-current {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  .price-old {
    text-decoration: line-through;
    color: #828282;
    margin-right: 8px;
  }
  
/* Блок со скидками и акциями */
.mb-info-promo {
  margin: 10px 0 0 0;
}

  .promo {
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #333333;
    padding: 2px 4px;
  }

  /* Блок выбора и определения размера
стили контейнера и выпадающего списка находятся
  в dropdown-menu.css */
.mb-info-size-table {
  margin: 10px 0 0 0;
}

/* Блок счетчика и добавления в корзину и избранное */
.mb-info-actions {
  margin: 40px 0 0 0;
  display:flex;
  flex-wrap:wrap;
  gap: 12px 2px;
}
  
  .actions-count {
    background-color: #f2f2f2;
    margin-right: 10px;
    min-width: 145px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }
  
    .count-inc, .count-dec, .count-value {
      align-self:center;
      background-color: #f2f2f2;
      border: none;
    }

    .count-inc {
      padding-left: 12px;
    }

    .count-dec {
      padding-right: 12px;
    }

  .actions-add {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
  }
  
  .add-cart {
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    height: 44px;
    width: 203px;
    font-size: inherit;
    line-height: 20px;
    display: flex;
  }
    .add-cart span {
      margin: auto;
    }

  .add-favorite {
    width: 44px;
    height: 44px;
    background-color: #333333;
    display: flex;
  }

    .like {
      width: 20px;
      height: 20px;
      margin: auto;
    }

  .mb-info-instant {
    margin: 12px 0 24px 0;
    padding-bottom: 30px;
    border-bottom: 0.5px solid #c4c4c4;
  }

  .mb-info-extra {
    margin-bottom: 12px;
  }

  /* Разделитель */
  .divide {
    margin: 30px 0;
    text-align: center;
  }

  /* Галерея других продуктов */
  .gallery {
    max-width: 1390px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }

    .gallery div:first-child {
      grid-area: 1/1/3/3;
    }
    
    .gallery div:nth-child(2) {
      grid-area: 1/3/2/4;
    }

    .gallery div:nth-child(3) {
      grid-area: 1/4/2/5;
    }

    .gallery div:nth-child(4) {
      grid-area: 2/3/3/4;
    }

    .gallery div:nth-child(5) {
      grid-area: 2/4/3/5;
    }

    .sub-gallery {
      display: flex;
    }

    .sub-gallery-overlayer {
      width: 100%;
      grid-area: 2/3/3/4;
      background-color:#333333;
      opacity: 0.7;
      z-index: 1;
      flex-direction: column;
      justify-content: space-between;
      color: #FFFFFF;
      align-items: center;
    }

    .sub-gallery-picture {
      align-self: flex-end;
      margin: 10px;
    }

    .sub-gallery-clothes {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
    }

    .sub-gallery-likes {
      margin-bottom: 5.9%
    }

    .desc-img {
      width: 20px;
      vertical-align: middle;
      margin-right: 8px;
    }
    
    .add-img {
      width: 40px;
      vertical-align: middle;
    }

/* Подвал */
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 80px auto;
  max-width: 1390px;
}

.bottom-info {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bot-nav span:first-child, .subscribe span:first-child {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 4px 0;
}

.bot-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bot-nav span a {
  color: #333333;
  text-decoration: none;
}

/* Форма подписки */
  .bottom-subscribe {
    grid-area: 1/2/2/3;
    display:flex;
  }

  .subscribe-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .subscribe-form span {
    text-transform: uppercase;
  }

  .email {
    width: 100%;
    color: #828282;
    background-color: #FFFFFF;
    letter-spacing: 0.04em;
    font-weight: 400;
    border: none;
    outline: none;
  }

  .email-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 36px;
    border-bottom: 1px solid #c4c4c4;
    margin: 26px 0;
  }

  .subscribe-button {
    width: 150px;
    height: 36px;
    color: #FFFFFF;
    align-self: flex-end;
    border: 1px solid #333333;
    border-radius: 0px;
    background-color: #FFFFFF;
  }
